<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quản lý bán hàng </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="/css/rules.css">
  <script src="https://kit.fontawesome.com/d689e088ff.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto&family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="p-5 text-white text-center" style="background-color: green">
  <h1>Quản lý nhà sách</h1> 
  
</div>

<nav class="navbar navbar-expand-sm" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/bill">Lập hóa đơn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/book/import">Lập phiếu nhập sách</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/book/search">Tra cứu sách</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/customer">Phiếu thu tiền nợ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/report">Lập báo cáo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/rules">Quy định</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href = "/admin/log-out">Đăng xuất</a>
      </li>
    </ul>
  </div>
</nav>