<%- include('header') -%>

    <div>
        <div class="center-container">
            <a href="/report/inventory" class="btn btn-success btn-xl" style="min-width: 200px;" role="button" aria-disabled="true">Báo
                cáo tồn</a>
            <a href="/" class="btn btn-success btn-xl" style="min-width: 200px;" role="button"
                aria-disabled="true">Báo cáo công nợ</a>
    
        </div>
    
    
    </div>

<%- include('footer') -%>