
body {
    /* font-family: 'Montserrat', sans-serif; */
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Montserrat', sans-serif; */
  }
  
  h1 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 900;
  }
  
  h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 900;
  }
  
  h3 {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 700;
  }
  
  .container-fluid {
    padding: 2% 10% 0% 10%;
  }


  /* navigation bar */
  .navbar {
    padding: 0;
  }
  
  .navbar-brand {
    /* font-family: 'Ubuntu'; */
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    /* font-family: 'Montserrat'; */
  }

  /* content */
  #content {
    width: 90%;
    padding: 5% 10%;
  }

  .btn-submit {
    margin-left: 3%;
    flex: 5%;
  }

  /* importBook */
  .form-nhap {
    margin: 50px 20px;
  }

  .card-import {
    margin: 20px;
  }